/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    margin-left: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    width: 40%; /* Full width */
    padding: 30px; /* Some padding */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 25px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: black;
    border-color: #5582c7;
    border-width: 3px;
    color: white;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    margin-left: 50%;
    background-color: #5582c7;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 2100px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
}

/* When moving the mouse over the submit button, add a darker blue color */
input[type=submit]:hover {
    background-color: #2a4b7c ;
}

/* Add a background color and some padding around the form */
.container {
    background-color: black;
    padding-top: 08em;
    padding-bottom: 24em;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.contact-text {
    padding-left: 100px;
    margin-top: -440px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4vw;
    color: white;
    width: 100%;
}

.text4 {
    margin-top: 10px;
    width: 35%;
    text-align: left;
    position: static;
    margin-left: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4vw;
    color: #E6E6E6 ;
}
