.wallpaper {
    position: static;
    background-color: #10152D;
    height: 100vh;
    width: 100%;
}

.projects-text {
    position: static;
    text-align: center;
    padding-top: 170px;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    color: white;
}

.portfolio {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
    height: 40%;
    margin-left: 80px;
    margin-top: 80px;
    grid-gap: 50px;
    object-fit: unset;
}

.portfolio__item {
    position: static;
    background: var(--clr-accent);
    overflow: hidden;
    border-radius: 1%;
    object-fit: scale-down;
}

.portfolio__img {
    transition:
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
            position: static;
}

.portfolio__item:focus {
    position: static;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
    position: static;
}



/* hex
#040c32
#080f2f
#0C1233
#10152D
*/
